@import "../../scss/screen-sizes.scss";
@import "../../scss/themes.scss";

.SearchBar {
    background-color: white;
    border-radius: 20px;
    border: 1px solid gray;
    padding: 2px;
    box-shadow: none;
    margin-right: 20px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_Form {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 10px;

        &_Input {
            width: 100%;
            border: none;
            outline: none;
            font-size: 1.2rem;
        }
        &_Btn {
            padding: auto;
            background: transparent;
            border: 0;
            font-size: 1.2rem;
        }
    }


}